# Ignore everything
*

# Do not ignore
# These files.
!.gitignore
!.gitconfig
!.ackrc
!.zshrc
!.gitignore_global
!.gitattributes_global
!.travis.yml
!.vimrc
!README.md

# Setup files
!/nvim_crap.txt
!/lets_do_a_setup.sh

# Don't ignore the nvim stuff
!/user_nvim
!/user_nvim/*
!/user_nvim/user
!/user_nvim/user/*

